<div>Bem vindo ao Movie Tracker!</div>
<div><%= link_to 'Ver Filmes', movies_path %></div>
<div><%= link_to 'Ver Diretores', directors_path %></div>
<div><%= link_to 'Ver Gêneros', genres_path %></div>
